<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}
<body class="max-width mx-auto px3 ltr">
  <div class="content index py4">

    {{ partial "header.html" . }}

    {{ block "main" . }}
    {{ end }}

    {{ partial "footer.html" . }}

  </div>
</body>

<link rel="stylesheet" href={{ "lib/font-awesome/css/all.min.css" | relURL }}>
<script src={{ "lib/jquery/jquery.min.js" | relURL }}></script>
<script src={{ "js/main.js" | relURL }}></script>
<script src={{ "lib/typed.js" | relURL }}></script>
<script>
    new Typed('.typed', {
      strings: ['{{ .Site.Params.description | $.Page.RenderString }}'],
      fadeOut: true,
      typeSpeed: 120,
    });
    setTimeout(function (){
      $('.typed').css('white-space','pre-line')
    },1000)
</script>
</html>
